body{
    padding: 100px;
}

.form-box{
    border-radius: 15px;
    box-shadow: 5px 5px 10px lightgray;
    padding: 50px;
    margin-top: 50px;
}

#transaction-area{
    display: none;
}

.deposit{
    background-color: slateblue;
}

.withdraw{
    background-color: lightsalmon;
}

.balance{
    background-color: orange;
}

.status-box{
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
}

#transaction-area h2{
    font-size: 2.5rem;
    font-weight: 700;
}