body{
    padding: 100px;
}

#login-area{
    border-radius: 15px;
    box-shadow: 5px 5px 10px gray;
    padding: 50px;
}

#transaction-area{
    display: none;
}

.deposit{
    background-color: slateblue;
}

.withdraw{
    background-color: lightsalmon;
}

.balance{
    background-color: orange;
}

.status-box{
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
}